<div class="bg-success pl-2 pt-2 pb-2">
    <div class="container">
        <div class="row">
            <h1 class="col-7 clickable text-white pt-1" routerLink="/home">
                <span>Housify</span>
            </h1>
            <h5 class="col-5 clickable text-right text-white pt-2 pt-md-3 row">
                <span class="col-sm-6 p-0" routerLink="/add">Add House</span>
                <br>
                <span class="col-sm-6 p-0" (click)="logout()">Logout</span>
            </h5>
        </div>
    </div>
</div>